{% extends "base.html" %}
{% block title %}Unfollow User{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h1 class="text-center">Unfollow a User</h1>
        <form method="post" action="/unfollow_user">
            <div class="form-group">
                <label for="follower_id">Follower ID:</label>
                <input type="text" class="form-control" id="follower_id" name="follower_id" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Unfollow</button>
        </form>
    </div>
</div>
{% endblock %}
